.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 15px;
}

.card {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    opacity: 0.5;
    transition: .2s ease-in;
}

.card img{
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.card:hover{
    opacity: 1;
}

.card:hover img{
    filter: blur(0);
}

.singleCharacter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleCharacter ul li{
    font-size: 24px;
    padding: 5px;
}

@media (max-width: 991px){
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 776px){
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    .cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}